<a href="https://colab.research.google.com/github/shubhs777c/code-for-help/blob/main/basic_py_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# convert list into tuple
abc=[1,2,3,'xyz']
tuple1=tuple(abc)
print(tuple1)

(1, 2, 3, 'xyz')

In [ ]:
# convert list into tuple
sample_list = ['shubham','chougule',]
tuple1 = tuple(i for i in sample_list)
print(tuple1)

('shubham', 'chougule')

In [ ]:
sample_list = ['shubham','chougule',]

#unpack list items and form tuple
tuple1 = (*sample_list,)

print(tuple1)

('shubham', 'chougule')

In [ ]:
#convert tuple into list
sss = (True, 28, 'Tiger')
abc= list(sss)
print(abc)

[True, 28, 'Tiger']

In [ ]:
# convert list into set
my_list = ['Rice', 'Potato', 'Tomato']
abc = set(my_list)
print(abc)

{'Potato', 'Rice', 'Tomato'}

In [ ]:
def list_to_set_conversion(list1):
    abc = set()
    for x in list1:
        abc.add(x)
    return abc
Names = ['Alia', 'Bob', 'Ana', 'Sita', 'Alia']
s = list_to_set_conversion (Names)
print(s)

{'Alia', 'Ana', 'Bob', 'Sita'}

In [ ]:
# convert list into set by using dictionary
my_list = ['Alia', 'Bobby', 'Bobby', 1, 1, 2, 3]
x = list(dict.fromkeys(my_list))
abc = set(x)
print(abc)

{'Bobby', 1, 2, 3, 'Alia'}

In [ ]:
#convert tuple into set
abc = ("G", "R", "O", "G", "U")
xyz = set(abc)
print(xyz)

{'G', 'R', 'U', 'O'}

In [ ]:
#convert set into list
abc = {"G", "R", "O", "G", "U"}
xyz=tuple(abc)
print(xyz)

('G', 'R', 'U', 'O')

In [ ]:
#convert set into list
my_set = {'Rice', 'Potato', 'Tomato'}
abc = list(my_set)
print(abc)

['Potato', 'Rice', 'Tomato']

In [ ]:
#convert two list into dictionary
list1=['shubham','rohan','kapil']
list2=[25,32,37]
my_dict=dict(zip(list1,list2))
print(my_dict)

{'shubham': 25, 'rohan': 32, 'kapil': 37}

In [ ]:
#convert two tuple into list
tuple1=('shubham','rohan','kapil')
tuple2=(25,32,37)
my_dict=dict(zip(tuple1,tuple2))
print(my_dict)

{'shubham': 25, 'rohan': 32, 'kapil': 37}

In [ ]:
#convert two sets into dictionary
set1={'shubham','rohan','kapil'}
set2={25,32,37}
my_dict=dict(zip(set1,set2))
print(my_dict)

{'shubham': 32, 'rohan': 25, 'kapil': 37}

In [ ]:
# seperating int and string 
abc='12345xyzpqr54321'
only_int=[]
for char in abc:
    if char not in '1234567890':
       only_int.append(char)
print(only_int)

['x', 'y', 'z', 'p', 'q', 'r']

In [ ]:
tuple1=('shubham','rohan','kapil')
tuple2=(25,32,37)
my_tuple=tuple1+tuple2
print(my_tuple)

('shubham', 'rohan', 'kapil', 25, 32, 37)

In [ ]:
abc=[5,2,1,4,3]
abc.()
print(abc)

[1, 2, 3, 4, 5]