<a href="https://colab.research.google.com/github/shubhs777c/python-practice/blob/main/function_and_method_prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Write a Python function that takes a list and returns a new list with unique elements of the first list.
def new_list(input_list):
    new_list = []
    for item in input_list:
        if item not in new_list:
            new_list.append(item)
    return new_list
input_list = [1, 2, 3, 3, 4, 4, 5, 5, 6]
new_list = new_list(input_list)
print(new_list)

[1, 2, 3, 4, 5, 6]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [10]:
#  Write a Python function that accepts a hyphen-separated sequence of words as parameter and 
# returns the words in a hyphen-separated sequence after sorting them alphabetically.

def sort_words(input_string):
    words = input_string.split("-")
    sorted_words = sorted(words)
    sorted_string = "-".join(sorted_words)
    return sorted_string
input_string = 'my -name- is -shubham'
sorted_string = sort_words(input_string)
print(sorted_string)

 is -my -name-shubham

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [17]:
# Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.
def upper_lower(input_string):
    upper_case=0
    lower_case=0
    for word in input_string:
        if word.isupper():
            upper_case+=1
        elif word.islower():
            lower_case+=1
    return upper_case,lower_case
input_string = "ThiS iS a MiXeD CaSe StrinG"
upper_case,lower_case =upper_lower(input_string)
print("Number of uppercase letters:",upper_case)
print("Number of lowercase letters:",lower_case)

Number of uppercase letters: 10
Number of lowercase letters: 12

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [29]:
# Write a Python program to print the even numbers from a given list.
def even_numbers(input_list):
  answer_list=[]
  for i in input_list:
     if i%2==0:
         answer_list.append(i)
  return answer_list
input_list= [1, 2, 3, 4, 5, 6, 7, 8, 9]
answer_list=even_numbers(input_list)
print(answer_list)

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example : 

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6. 
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6. 

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [31]:
#  Write a Python function to check whether a number is perfect or not.
def is_perfect_number(num):
    divisors=[]
    for i in range (1,num):
         if num % i==0:
             divisors.append(i)
    if sum(divisors)==num:
        return True
    else:
        return False
num =6
if is_perfect_number(num):
    print(num, "is a perfect number")
else:
    print(num, "is not a perfect number")

6 is a perfect number

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [38]:
# Write a Python function to concatenate any no of dictionaries to create a new one.
def concat_dict(*dict):
   new_dict={}
   for i in dict:
        new_dict.update(dict)
   return new_dict
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60} 
new_dict = concat_dict(dic1, dic2, dic3)
print(new_list)

[1, 2, 3, 4, 5, 6]

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [44]:
# Write a python function that accepts a list of 2D co-ordinates and a query point, 
# and then finds the the co-ordinate which is closest in terms of distance from the query point.
import math

def find_closest_point(coordinate_list, query_point):
    
    closest_point = None
    closest_distance = math.infinity

    
    for coordinate in coordinate_list:
        
        distance = math.sqrt((coordinate[0] - query_point[0])**2 + (coordinate[1] - query_point[1])**2)

        if distance < closest_distance:
            closest_point = coordinate
            closest_distance = distance

   
    return closest_point
coordinate_list = [(1,1),(2,2),(3,3),(4,4)]
query_point = (3,4)
closest_point = find_closest_point(coordinate_list, query_point)
print(closest_point)

(3, 3)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [56]:
# Write a python program that receives a list of strings and performs bag of word operation on those strings.
def bag_of_words(string_list):
    
    word_counts = {}

    
    for string in string_list:
        
        words = string.split()

        
        for word in words:
            
            if word in word_counts:
                word_counts[word] += 1
            
            else:
                word_counts[word] = 1

   
    return word_counts
string_list = ["i know a guy who know a guys"]
word_counts = bag_of_words(string_list)
print(word_counts)

{'i': 1, 'know': 2, 'a': 2, 'guy': 1, 'who': 1, 'guys': 1}

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [66]:
# Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map
num = 3
n = 7


# Define a lambda function that raises a number to a power
power = lambda x, y: x ** y

# Use map to apply the lambda function to each corresponding index and base
result = tuple(map(power, [num]*n, range(n)))

# Print the result
print(result)

(1, 3, 9, 27, 81, 243, 729)

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [71]:
# Using filter() and list() functions and .lower() method filter all the vowels in a given string. 
string = "my name is umbrella"

# vowels = list(filter(lambda x: x.lower() in ['a', 'e', 'i', 'o', 'u'], string))
vowels = tuple(filter(lambda x: x.lower() in ['a','e','i','o','u'],string))
print(vowels)

('a', 'e', 'i', 'u', 'e', 'a')

`Problem-14`: Use reduce to convert a 2D list to 1D

In [73]:
# Use reduce to convert a 2D list to 1D.
from functools import reduce
list_2d = [[1, 2], [3, 4], [5, 6]]
list_1d = reduce(lambda x ,y : x+y,list_2d)
print(list_1d)

[1, 2, 3, 4, 5, 6]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [75]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }
    
]

In [78]:
tuple(map(lambda x:x['fname'] + ' ' + x['lname'],tuple(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

('Neha Singh', 'Abhinav Sharma')