<a href="https://colab.research.google.com/github/shubhs777c/python-practice/blob/main/lists_practice_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
L = [1,2,3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

140233222724480
140233716635952
140233716635984
140233716636016
140233716635952
140233716635984
140233716636016

In [3]:
L = [1,2,3]
L1 = [3,2,1]

L == L1

False

In [9]:
# Empty
print([])
# 1D -> Homo
print([1,5,7,9])
# 2D
print([1,2,3,[4,6]])
# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[]
[1, 5, 7, 9]
[1, 2, 3, [4, 6]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

In [12]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
#positive
#print(L[0][0][1])

# Slicing
L = [1,2,3,4,5,6]

print(L[1:5])

[2, 3, 4, 5]

In [15]:
L = [1,2,3,4,5]
L.append('dosa')
print(L)

[1, 2, 3, 4, 5, 'dosa']

In [16]:
L = [1,2,3,4,5]
L.extend(['poor','small'])
print(L)

[1, 2, 3, 4, 5, 'poor', 'small']

In [19]:
L = [1,2,3,4,5]
L.append([6,'seven',8])
print(L)

[1, 2, 3, 4, 5, [6, 'seven', 8]]

In [18]:
L = [1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [23]:
L = [1,2,3,4,5]

L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

In [24]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[1, 200, 300, 400, 500]

In [25]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]

# slicing
del L[1:3]
print(L)

[1, 4]

In [29]:
L = [1,2,3,4,5]

L.remove(5)

print(L)

[1, 2, 3, 4]

In [30]:
L = [1,2,3,4,5]

L.pop()

print(L)

[1, 2, 3, 4]

In [31]:
L = [1,2,3,4,5]

L.clear()

print(L)

[]

In [32]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [37]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(4 not in L1)
print([5,6] in L2)

False
True

In [38]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

In [40]:
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse=True))

5
0
7
[7, 5, 2, 1, 0]

In [42]:
L = [1,2,1,3,4,1,5]
L.count(2)

1

In [44]:
L = [1,2,1,3,4,1,5]
L.index(4)

4

In [45]:
L = [2,1,5,7,0]

L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [46]:
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [49]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
[i*s for i in v]

[-6, -9, -12]

In [54]:
# Add squares
L = [1,2,3,4,5]
[i**2 for i in L]

[1, 4, 9, 16, 25]

In [57]:
# Print all numbers divisible by 5 in the range of 1 to 50
[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [62]:
# find languages which start with letter p.
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('j')]

['java', 'javascript']

In [64]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[i for i in my_fruits if i in basket if i.startswith('a')]

['apple']

In [66]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension.
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [65]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [68]:
# itemwise
L = [1,2,3,4]
for i in L:
  print(i)

1
2
3
4

In [71]:
# indexwise
L = [1,2,3,4]
for i in range(0,len(L)):
  print(L[i])
[i for i in range(0,len(L))]

1
2
3
4

[0, 1, 2, 3]

In [ ]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2)) 

[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

In [72]:
L = [1,2,print,type,input]

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7f8ab134fd60>>]

In [73]:
a = [1,2,3]
b = a.copy()
print(a)
print(b)
a.append(4)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

## List Programs

In [86]:
# Create 2 lists from a given list where 
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers 

L = [1,2,3,4,5,6,7]
first_list=[]
second_list=[]
for i in range(len(L)):
    if i%2!=0:
       first_list.append(i)
    else:
       second_list.append(i)
print(first_list)
print(second_list)

[1, 3, 5]
[0, 2, 4, 6]

In [87]:
# How to take list as input from user.

user_input = input("Enter a list of numbers separated by commas: ")
user_list = user_input.split(",")
user_list = [int(num) for num in user_list]
print("The list you entered is:", user_list)

Enter a list of numbers separated by commas: 1,2,3
The list you entered is: [1, 2, 3]

In [93]:
# Write a program to merge 2 list without using the + operator
L1 = [1,2,3,4]
L2 = [5,6,7,8]
merge_list=L1.extend(L2)
print("Merged list:", L1)

Merged list: [1, 2, 3, 4, 5, 6, 7, 8]

In [96]:
# Write a program to replace an item with a different item if found in the list 
# l = [1,2,3,4,5,3]
# replace 3 with 300.

l=[1,2,3,4,5,3]
for i in range(len(l)):
    if l[i]==3:
      l[i]=300
print(l)

[1, 2, 300, 4, 5, 300]

In [97]:
# Write a program that can convert a 2D list to 1D list.
list_2d = [[1, 2], [3, 4], [5, 6]]

list_1d = []

for sublist in list_2d:
    for item in sublist:
        list_1d.append(item)

print("1D list:", list_1d)

1D list: [1, 2, 3, 4, 5, 6]

In [98]:
# Write a program to remove duplicate items from a list
L = [1, 2, 1, 2, 3, 4, 5, 3, 4]

new_list = []

for item in L:
    if item not in new_list:
        new_list.append(item)

print("List with duplicates removed:", new_list)

List with duplicates removed: [1, 2, 3, 4, 5]

In [101]:
# Write a program to check if a list is in ascending order or not.

L = [1, 2, 3, 4, 5]

is_ascending = True

for i in range(1, len(L)):
    if L[i] < L[i-1]:
        is_ascending = False
        break

if is_ascending:
    print("List is in ascending order")
else:
    print("List is not in ascending order")

List is in ascending order