<a href="https://colab.research.google.com/github/shubhs777c/code-for-help/blob/main/my_python_colab_doubts_upto_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def foo(x):
    x[0] = ['def']
    x[1] = ['abc']
    return id(x)
q = ['abc', 'def']
print(id(q) == foo(q))

True

In [ ]:
z=set('abc')
z.add('san')
z.update(set(['p', 'q']))
z

{'a', 'b', 'c', 'p', 'q', 'san'}

In [ ]:
print("abc. DEF ", "shubham chougule".capitalize())

abc. DEF  Shubham chougule

In [ ]:
list1 = [1,2,3,4]
list2 = [2,4,5,6]
list3 = [2,6,7,8]

result.extend(i for i in list1 if i not in (list2+list3) and i not in result)
result.extend(i for i in list2 if i not in (list1+list3) and i not in result)
result.extend(i for i in list3 if i not in (list1+list2) and i not in result)
result = list()

answer is [1,3,5,7,8]

In [ ]:
print('*', "abcde".center(7), '*', sep='')

* abcde *

use padding concept

In [ ]:
list1 = [1, 3]
list2 = list1
list1[0] = 4
print(list2)

[4, 3]

In [ ]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
x = 'abcd'
for _1 in range(len(x)):
    print(_1)

0
1
2
3

In [ ]:
def addItem(listParam):
    listParam += [1]
 
mylist = [1, 2, 3, 4,5,6,7]
addItem(mylist)
print(len(mylist))

8

In [ ]:
print("Hello {0[0]} and {0[1]}".format(('foo', 'bin')))

Hello foo and bin

In [ ]:
x = [[0], [1]]
print((' '.join(list(map(str, x))),))

('[0] [1]',)

In [ ]:
def foo():
      finally:
             return 2
     try:
        return 4
k = foo()
print(k)

SyntaxError: ignored

In [ ]:
x = 'abcd'
for i in range(len(x)):
    print(i)

0
1
2
3

In [ ]:
x = "listparam"
ddItem = (x)
x += [1]
 
mylist = [1, 2, 3, 4]
addItem(mylist)
print(len(mylist))

TypeError: ignored

In [ ]:
x = 'abcd'
x.()
print(x)

SyntaxError: ignored

In [ ]:
i = 1
while True:
    if i%0O7 == 0:
        break
    print(i)
    i += 1

1
2
3
4
5
6

In [ ]:
i = 5
while True:
    if i%011 == 0:
        break
    print(i)
    i += 1

SyntaxError: ignored

In [ ]:
i = 2
while True:
    if i%3 == 0:
        break
    print(i)
    i += 2

2
4

In [ ]:
i = 0
while i < 15:
    print(i)
    i += 2
    if i == 3:
        break
else:
    print(0)

0
2
4
6
8
10
12
14
0

In [ ]:
i = 0
while i < 4:
    print(i)
    i += 1
else:
    print(0)

0
1
2
3
0

In [ ]:
x = "abcdef"
i = "a"
while i in x:
    x = x[1:]
    print(i, end = " ")

a

In [ ]:
x = 'abcd'
print(x[0:].upper())

ABCD

In [ ]:
x = 'abcd'
print(len(x))

4

In [ ]:
x = 'abcd'
for i in range(len(x)):
    x[i].upper()
print (x)

abcd

In [ ]:
x = 'abcd'
for i in range(len(x)):
    x = 'a'
    print(x)

a
a
a
a

In [ ]:
d = {0: 'a', 1: 'b', 2: 'c'}
(d)

{0: 'a', 1: 'b', 2: 'c'}

In [ ]:
d = {0: 'a', 1: 'b', 2: 'c'}
for x, y in d.items():
    x,y

In [ ]:
d = {0: 'a', 1: 'b', 2: 'c'}
for x in d.keys():
    print([x])

[0]
[1]
[2]

In [ ]:
d = {5:a, 6:b, 9:c}
print(type(d))

NameError: ignored

In [ ]:
for i in range(int(3.0)):
    print(i)

0
1
2

In [ ]:
for i in ['a', 'b', 'c', 'd'][::-1]:
    print (i)

d
c
b
a

In [ ]:
for i in ''.join(reversed(list('abcd'))):
    print (i)

d
c
b
a

In [ ]:
x = (10)
for i in range(x):
    x += 2
    print (x)

12
14
16
18
20
22
24
26
28
30

In [ ]:
x =(-10)
for i in range(x):
    x += 2
    print (x)

In [ ]:
for i in range(10):
    if i == 5:
        break
    else:
        print(i)
else:
    print("Here")

0
1
2
3
4

In [ ]:
for i in range(4):
    if i == 5:
        break
    else:
        print(i)
else:
    print("Here")

0
1
2
3
Here

In [ ]:
x = (i for i in range(3))
for i in x:
    print(i)

0
1
2

In [ ]:
x = (i for i in range(3))
for i in x:
    print(i)

0
1
2

In [ ]:
string = "my name is x"
for i in string:
    print (i, end="1 ")

m1 y1  1 n1 a1 m1 e1  1 i1 s1  1 x1

In [ ]:
string = "my name is x"
for i in string.split():
    print (i, end=", ")

my, name, is, x,

In [ ]:
a = [0, 1, 2, 3]
for a[-2] in a:
    print(a[-4])

0
0
0
0

In [ ]:
a = [0, 1, 2, 3]
for a[0] in a:
    print(a[0])

0
1
2
3

In [ ]:
string = "my name is x"
for i in ' '.join(string.split()):
    print (i, end=", ")

m, y,  , n, a, m, e,  , i, s,  , x,