<a href="https://colab.research.google.com/github/shubhs777c/python-practice/blob/main/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
# create pandas dataframe.
import pandas as pd 
tech=[['rohan',42,10],
      ['soham',32,6],
     ]
df=pd.DataFrame(tech)
df

       0   1   2
0  rohan  42  10
1  soham  32   6

In [24]:
# add column & row names to the dataframe.
col_names=["name",'age','salary']
row_names=['a','b']
df=pd.DataFrame(tech,columns=col_names,index=row_names)
df

    name  age  salary
a  rohan   42      10
b  soham   32       6

In [25]:
# Create DataFrame from the Dic (dictionary).

technologies = {
    'Courses':["Spark","Pandas"],
    'Fee' :[20000,25000],
    'Duration':['30days','40days']
              }
df = pd.DataFrame(technologies)
print(df)

  Courses    Fee Duration
0   Spark  20000   30days
1  Pandas  25000   40days

In [26]:
# Create DataFrame with Index.

technologies = {
    'Courses':["Spark","Pandas"],
    'Fee' :[20000,25000],
    'Duration':['30days','40days']
              }
index_label=["r1","r2"]
df = pd.DataFrame(technologies, index=index_label)
print(df)

   Courses    Fee Duration
r1   Spark  20000   30days
r2  Pandas  25000   40days

In [27]:
# Creating Dataframe from list of dicts object.

technologies = [{'Courses':'Spark', 'Fee': 20000, 'Duration':'30days'},
        {'Courses':'Pandas', 'Fee': 25000, 'Duration': '40days'}]

df = pd.DataFrame(technologies)
print(df)

  Courses    Fee Duration
0   Spark  20000   30days
1  Pandas  25000   40days

In [28]:
# Creating DataFrame From Series.

courses = pd.Series(["Spark","Pandas"])
fees = pd.Series([20000,25000])
duration = pd.Series(['30days','40days'])

# Create DataFrame from series objects.
df=pd.concat([courses,fees,duration],axis=1)
print(df)

        0      1       2
0   Spark  20000  30days
1  Pandas  25000  40days

In [29]:
# Add Column Labels.

index_labels=['r1','r2']
courses.index = index_labels
fees.index = index_labels
duration.index = index_labels

# Concat Series by Changing Names
df=pd.concat({'Courses': courses,
              'Course_Fee': fees,
              'Course_Duration': duration},axis=1)
print(df)

   Courses  Course_Fee Course_Duration
r1   Spark       20000          30days
r2  Pandas       25000          40days

In [30]:
# Creating DataFrame using zip() function.

Courses = ['Spark', 'Pandas']
Fee = [20000,25000]
Duration = ['30days','40days']
   
# Merge lists by using zip().
tuples_list = list(zip(Courses, Fee, Duration))
df = pd.DataFrame(tuples_list, columns = ['Courses', 'Fee', 'Duration'])
df

  Courses    Fee Duration
0   Spark  20000   30days
1  Pandas  25000   40days

In [31]:
import pandas as pd
import numpy as np
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","pandas","Oracle","Java"],
    'Fee' :[20000,25000,26000,22000,24000,21000,22000],
    'Duration':['30days','40days','35days','40days',np.nan,None,'55days'],
    'Discount':[1000,2300,1500,1200,2500,2100,2000]
               }
index_labels=['r1','r2','r3','r4','r5','r6','r7']
df = pd.DataFrame(technologies,index=index_labels)
print(df)

    Courses    Fee Duration  Discount
r1    Spark  20000   30days      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500
r4   Python  22000   40days      1200
r5   pandas  24000      NaN      2500
r6   Oracle  21000     None      2100
r7     Java  22000   55days      2000

In [32]:
# Select Row by Integer Index.
print(df.iloc[2])

Courses     Hadoop
Fee          26000
Duration    35days
Discount      1500
Name: r3, dtype: object

In [33]:
# Get Multiple Rows by Index List.
print(df.iloc[[2,3,6]])

   Courses    Fee Duration  Discount
r3  Hadoop  26000   35days      1500
r4  Python  22000   40days      1200
r7    Java  22000   55days      2000

In [34]:
# Get DataFrame Rows by Index Range.
print(df.iloc[1:5])

    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500
r4   Python  22000   40days      1200
r5   pandas  24000      NaN      2500

In [35]:
#  Select First Row by Index
print(df.iloc[0:1])

   Courses    Fee Duration  Discount
r1   Spark  20000   30days      1000

In [36]:
# Select First 3 Rows
print(df.iloc[0:3])

    Courses    Fee Duration  Discount
r1    Spark  20000   30days      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500

In [37]:
# Select Last Row by Index
print(df.iloc[-1:])

   Courses    Fee Duration  Discount
r7    Java  22000   55days      2000

In [38]:
# Select Last 3 Row
print(df.iloc[-3:])

   Courses    Fee Duration  Discount
r5  pandas  24000      NaN      2500
r6  Oracle  21000     None      2100
r7    Java  22000   55days      2000

In [39]:
# Selects alternate rows
print(df.iloc[::2])

   Courses    Fee Duration  Discount
r1   Spark  20000   30days      1000
r3  Hadoop  26000   35days      1500
r5  pandas  24000      NaN      2500
r7    Java  22000   55days      2000

In [40]:
# Select Rows by Index Labels using Pandas loc[].

# Select Row by Index Label.
print(df.loc['r2'])

Courses     PySpark
Fee           25000
Duration     40days
Discount       2300
Name: r2, dtype: object

In [41]:
# Get Multiple Rows by Label List

# Select Rows by Index Label List
print(df.loc[['r2','r3','r6']])

    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500
r6   Oracle  21000     None      2100

In [42]:
# Get Rows Between Two Labels.

# Select Rows by Label Index Range
print(df.loc['r1':'r5'])

    Courses    Fee Duration  Discount
r1    Spark  20000   30days      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1500
r4   Python  22000   40days      1200
r5   pandas  24000      NaN      2500

In [43]:
# Select Alternate Rows with in Index Labels
print(df.loc['r1':'r5':2])

   Courses    Fee Duration  Discount
r1   Spark  20000   30days      1000
r3  Hadoop  26000   35days      1500
r5  pandas  24000      NaN      2500

In [44]:
# Complete Example of pandas Select Columns
technologies = {
    'Courses':["Spark","PySpark"],
    'Fee' :[20000,25000],
    'Duration':['30days','40days'],
    'Discount':[1000,2300],
    'Tutor':['Michel','Sam']
              }
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount   Tutor
0    Spark  20000   30days      1000  Michel
1  PySpark  25000   40days      2300     Sam

In [45]:
# Select multiple columns
print(df[["Courses","Fee","Duration"]])

   Courses    Fee Duration
0    Spark  20000   30days
1  PySpark  25000   40days

In [46]:
# Select Random columns
print(df.loc[:, ["Courses","Fee","Discount"]])

   Courses    Fee  Discount
0    Spark  20000      1000
1  PySpark  25000      2300

In [47]:
# Select columns by range
print(df.loc[:,'Fee':'Discount']) 
print('*******************************************')
print(df.loc[:,'Duration':])
print('*******************************************')
print(df.loc[:,:'Duration'])

     Fee Duration  Discount
0  20000   30days      1000
1  25000   40days      2300
*******************************************
  Duration  Discount   Tutor
0   30days      1000  Michel
1   40days      2300     Sam
*******************************************
   Courses    Fee Duration
0    Spark  20000   30days
1  PySpark  25000   40days

In [48]:
# Select every alternate column
print(df.loc[:,::2])

   Courses Duration   Tutor
0    Spark   30days  Michel
1  PySpark   40days     Sam

In [49]:
# Selected by column position
print(df.iloc[:,[1,3,4]])

     Fee  Discount   Tutor
0  20000      1000  Michel
1  25000      2300     Sam

In [50]:
# Select between indexes 1 and 4 (2,3,4)
print(df.iloc[:,1:4])

     Fee Duration  Discount
0  20000   30days      1000
1  25000   40days      2300

In [51]:
# Select From 3rd to end
print(df.iloc[:,2:])

  Duration  Discount   Tutor
0   30days      1000  Michel
1   40days      2300     Sam

In [52]:
# Select First Two Columns
print(df.iloc[:,:2])

   Courses    Fee
0    Spark  20000
1  PySpark  25000

In [53]:
# Pandas dataframe by query examples.

# Query Rows using DataFrame.query()
df2=df.query("Courses == 'Spark'")
df2

  Courses    Fee Duration  Discount   Tutor
0   Spark  20000   30days      1000  Michel

In [54]:
#Using variable
value='Spark'
df2=df.query("Courses == @value")
df2

  Courses    Fee Duration  Discount   Tutor
0   Spark  20000   30days      1000  Michel

In [55]:
import pandas as pd
import numpy as np
technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,np.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

In [56]:
# Using DataFrame.query().

# Query all rows with Courses equals 'Spark'
df2=df.query("Courses == 'Spark'")
print(df2)

  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000

In [57]:
# Query Rows by using Python variable
value='Spark'
df2=df.query("Courses == @value")
print(df2)

  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000

In [58]:
# Replace current esisting DataFrame
df.query("Courses == 'Spark'",inplace=True)
print(df)

  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000

In [59]:
# Select Rows Based on List of Column Values.

import pandas as pd
import numpy as np
technologies= {
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas"],
    'Fee' :[22000,25000,23000,24000,26000],
    'Duration':['30days','50days','30days', None,np.nan],
    'Discount':[1000,2300,1000,1200,2500]
          }
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

In [60]:
# Query Rows by list of values
print(df.query("Courses in ('Spark','PySpark')"))

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300

In [61]:
# Query Rows by list of values
values=['Spark','PySpark']
print(df.query("Courses in @values"))

   Courses    Fee Duration  Discount
0    Spark  22000   30days      1000
1  PySpark  25000   50days      2300

In [62]:
# Query Rows not in list of values
values=['Spark','PySpark']
print(df.query("Courses not in @values"))

  Courses    Fee Duration  Discount
2  Hadoop  23000   30days      1000
3  Python  24000     None      1200
4  Pandas  26000      NaN      2500

In [63]:
# Query with Multiple Conditions.
# Example 1 - Using loc[] with multiple conditions
df2=df.loc[(df['Discount'] >= 1000) & (df['Discount'] <= 2000)]
df2

  Courses    Fee Duration  Discount
0   Spark  22000   30days      1000
2  Hadoop  23000   30days      1000
3  Python  24000     None      1200

In [64]:
# Example 2
df2=df.loc[(df['Discount'] >= 1200) | (df['Fee'] >= 23000 )]
print(df2)

   Courses    Fee Duration  Discount
1  PySpark  25000   50days      2300
2   Hadoop  23000   30days      1000
3   Python  24000     None      1200
4   Pandas  26000      NaN      2500

In [65]:
import pandas as pd
technologies   = ({
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas","Hadoop","Spark","Python","NA"],
    'Fee' :[22000,25000,23000,24000,26000,25000,25000,22000,1500],
    'Duration':['30days','50days','55days','40days','60days','35days','30days','50days','40days'],
    'Discount':[1000,2300,1000,1200,2500,None,1400,1600,0]
          })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days    1000.0
1  PySpark  25000   50days    2300.0
2   Hadoop  23000   55days    1000.0
3   Python  24000   40days    1200.0
4   Pandas  26000   60days    2500.0
5   Hadoop  25000   35days       NaN
6    Spark  25000   30days    1400.0
7   Python  22000   50days    1600.0
8       NA   1500   40days       0.0

In [66]:
# Use groupby() to compute the sum
df2 =df.groupby(['Courses']).sum()
print(df2)

           Fee  Discount
Courses
Hadoop   48000    1000.0
NA        1500       0.0
Pandas   26000    2500.0
PySpark  25000    2300.0
Python   46000    2800.0
Spark    47000    2400.0

<ipython-input-66-1ec01e577477>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2 =df.groupby(['Courses']).sum()

In [67]:
# Group by on multiple columns
df2 =df.groupby(['Courses', 'Duration']).sum()
print(df2)

                    Fee  Discount
Courses Duration
Hadoop  35days    25000       0.0
        55days    23000    1000.0
NA      40days     1500       0.0
Pandas  60days    26000    2500.0
PySpark 50days    25000    2300.0
Python  40days    24000    1200.0
        50days    22000    1600.0
Spark   30days    47000    2400.0

In [68]:
# Set Index on group by results
df2 = df.groupby(['Courses','Duration']).sum().reset_index()
print(df2)

   Courses Duration    Fee  Discount
0   Hadoop   35days  25000       0.0
1   Hadoop   55days  23000    1000.0
2       NA   40days   1500       0.0
3   Pandas   60days  26000    2500.0
4  PySpark   50days  25000    2300.0
5   Python   40days  24000    1200.0
6   Python   50days  22000    1600.0
7    Spark   30days  47000    2400.0

In [69]:
# Using groupby on single column in pandas 
df2 = df.groupby(['Courses'])['Fee'].sum().reset_index()
print(df2)

   Courses    Fee
0   Hadoop  48000
1       NA   1500
2   Pandas  26000
3  PySpark  25000
4   Python  46000
5    Spark  47000

In [70]:
# Ignore sorting on group by key
df2=df.groupby(by=['Courses'], sort=False).sum()
print(df2)

           Fee  Discount
Courses
Spark    47000    2400.0
PySpark  25000    2300.0
Hadoop   48000    1000.0
Python   46000    2800.0
Pandas   26000    2500.0
NA        1500       0.0

<ipython-input-70-e6cbccd7ef21>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2=df.groupby(by=['Courses'], sort=False).sum()

In [71]:
# Sort group key on descending order
groupedDF = df.groupby('Courses',sort=False).sum()
sortedDF=groupedDF.sort_values('Courses', ascending=False)
print(sortedDF)

           Fee  Discount
Courses
Spark    47000    2400.0
Python   46000    2800.0
PySpark  25000    2300.0
Pandas   26000    2500.0
NA        1500       0.0
Hadoop   48000    1000.0

<ipython-input-71-49bc17b12f11>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupedDF = df.groupby('Courses',sort=False).sum()

In [72]:
# Groupby & multiple aggregations
result = df.groupby('Courses')['Fee'].aggregate(['min','max'])
print(result)

           min    max
Courses
Hadoop   23000  25000
NA        1500   1500
Pandas   26000  26000
PySpark  25000  25000
Python   22000  24000
Spark    22000  25000

In [73]:
# Groupby multiple columns & multiple aggregations
result = df.groupby('Courses').aggregate({'Duration':'count','Fee':['min','max']})
print(result)

        Duration    Fee
           count    min    max
Courses
Hadoop         2  23000  25000
NA             1   1500   1500
Pandas         1  26000  26000
PySpark        1  25000  25000
Python         2  22000  24000
Spark          2  22000  25000

In [74]:
# Join dataframe.

import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Python","pandas"],
    'Fee' :[20000,25000,22000,30000],
    'Duration':['30days','40days','35days','50days'],
              }
index_labels=['r1','r2','r3','r4']
df1 = pd.DataFrame(technologies,index=index_labels)
print(df1)

    Courses    Fee Duration
r1    Spark  20000   30days
r2  PySpark  25000   40days
r3   Python  22000   35days
r4   pandas  30000   50days

In [75]:
technologies2 = {
    'Courses':["Spark","Java","Python","Go"],
    'Discount':[2000,2300,1200,2000]
              }
index_labels2=['r1','r6','r3','r5']
df2 = pd.DataFrame(technologies2,index=index_labels2)
print(df2)

   Courses  Discount
r1   Spark      2000
r6    Java      2300
r3  Python      1200
r5      Go      2000

In [76]:
df3=df1.join(df2, lsuffix="_left", rsuffix="_right")
print(df3)

   Courses_left    Fee Duration Courses_right  Discount
r1        Spark  20000   30days         Spark    2000.0
r2      PySpark  25000   40days           NaN       NaN
r3       Python  22000   35days        Python    1200.0
r4       pandas  30000   50days           NaN       NaN

In [77]:
# pandas Inner join DataFrames
df3=df1.join(df2, lsuffix="_left", rsuffix="_right", how='inner')
print(df3)

   Courses_left    Fee Duration Courses_right  Discount
r1        Spark  20000   30days         Spark      2000
r3       Python  22000   35days        Python      1200

In [78]:
# pandas Right join DataFrames
df3=df1.join(df2, lsuffix="_left", rsuffix="_right", how='right')
print(df3)

   Courses_left      Fee Duration Courses_right  Discount
r1        Spark  20000.0   30days         Spark      2000
r6          NaN      NaN      NaN          Java      2300
r3       Python  22000.0   35days        Python      1200
r5          NaN      NaN      NaN            Go      2000

In [79]:
# pandas outer join DataFrames
df3=df1.join(df2, lsuffix="_left", rsuffix="_right", how='outer')
print(df3)

   Courses_left      Fee Duration Courses_right  Discount
r1        Spark  20000.0   30days         Spark    2000.0
r2      PySpark  25000.0   40days           NaN       NaN
r3       Python  22000.0   35days        Python    1200.0
r4       pandas  30000.0   50days           NaN       NaN
r5          NaN      NaN      NaN            Go    2000.0
r6          NaN      NaN      NaN          Java    2300.0

In [80]:
# pandas join on column
df3=df1.set_index('Courses').join(df2.set_index('Courses'), how='inner')
print(df3)

           Fee Duration  Discount
Courses
Spark    20000   30days      2000
Python   22000   35days      1200

In [81]:
# pandas join
df3=df1.join(df2.set_index('Courses'), how='inner', on='Courses')
print(df3)

   Courses    Fee Duration  Discount
r1   Spark  20000   30days      2000
r3  Python  22000   35days      1200

In [82]:
# merge dataset.

import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Python","pandas"],
    'Fee' :[20000,25000,22000,30000],
    'Duration':['30days','40days','35days','50days'],
              }
index_labels=['r1','r2','r3','r4']
df1 = pd.DataFrame(technologies,index=index_labels)
df1

    Courses    Fee Duration
r1    Spark  20000   30days
r2  PySpark  25000   40days
r3   Python  22000   35days
r4   pandas  30000   50days

In [83]:
technologies2 = {
    'Courses':["Spark","Java","Python","Go"],
    'Discount':[2000,2300,1200,2000]
              }
index_labels2=['r1','r6','r3','r5']
df2 = pd.DataFrame(technologies2,index=index_labels2)
df2

   Courses  Discount
r1   Spark      2000
r6    Java      2300
r3  Python      1200
r5      Go      2000

In [84]:
# Using pandas.merge()
df3= pd.merge(df1,df2)
df3

  Courses    Fee Duration  Discount
0   Spark  20000   30days      2000
1  Python  22000   35days      1200

In [85]:
# Using DataFrame.merge()
df3=df1.merge(df2)
df3

  Courses    Fee Duration  Discount
0   Spark  20000   30days      2000
1  Python  22000   35days      1200

In [86]:
# Merge DataFrames by Columns
df3=pd.merge(df1,df2, on='Courses')
df3

  Courses    Fee Duration  Discount
0   Spark  20000   30days      2000
1  Python  22000   35days      1200

In [87]:
# When column names are different
df3=pd.merge(df1,df2, left_on='Courses', right_on='Courses')
print(df3)

  Courses    Fee Duration  Discount
0   Spark  20000   30days      2000
1  Python  22000   35days      1200

In [88]:
# Merge DataFrames on Index.

df3 = pd.merge(df1,df2,left_index=True,right_index=True)
print(df3)

   Courses_x    Fee Duration Courses_y  Discount
r1     Spark  20000   30days     Spark      2000
r3    Python  22000   35days    Python      1200

In [89]:
# Merging Using Different Join Types.
# Merge by left Join
df3=pd.merge(df1,df2, on='Courses', how='left')
print(df3)

   Courses    Fee Duration  Discount
0    Spark  20000   30days    2000.0
1  PySpark  25000   40days       NaN
2   Python  22000   35days    1200.0
3   pandas  30000   50days       NaN

In [90]:
# Merge by right Join
df3=pd.merge(df1,df2, on='Courses', how='right')
print(df3)

  Courses      Fee Duration  Discount
0   Spark  20000.0   30days      2000
1    Java      NaN      NaN      2300
2  Python  22000.0   35days      1200
3      Go      NaN      NaN      2000

In [91]:
# Merge by outer Join
df3=pd.merge(df1,df2, on='Courses', how='outer')
print(df3)

   Courses      Fee Duration  Discount
0    Spark  20000.0   30days    2000.0
1  PySpark  25000.0   40days       NaN
2   Python  22000.0   35days    1200.0
3   pandas  30000.0   50days       NaN
4     Java      NaN      NaN    2300.0
5       Go      NaN      NaN    2000.0

In [92]:
# concatenate of data .
import pandas as pd
df = pd.DataFrame({'Courses': ["Spark","PySpark","Python","pandas"],
                    'Fee' : [20000,25000,22000,24000]})

df1 = pd.DataFrame({'Courses': ["Pandas","Hadoop","Hyperion","Java"],
                    'Fee': [25000,25200,24500,24900]})

# Using pandas.concat() to concat two DataFrames
data = [df, df1]
df2 = pd.concat(data)
print(df2)

    Courses    Fee
0     Spark  20000
1   PySpark  25000
2    Python  22000
3    pandas  24000
0    Pandas  25000
1    Hadoop  25200
2  Hyperion  24500
3      Java  24900

In [93]:
# Use pandas.concat() method to ignore_index 
df2 = pd.concat([df, df1], ignore_index=True, sort=False)
print(df2)

    Courses    Fee
0     Spark  20000
1   PySpark  25000
2    Python  22000
3    pandas  24000
4    Pandas  25000
5    Hadoop  25200
6  Hyperion  24500
7      Java  24900

In [94]:
# Using pandas.concat() to Join Two DataFrames.
import pandas as pd
df = pd.DataFrame({'Courses':["Spark","PySpark","Python","pandas"],
                      'Fee' :[20000,25000,22000,24000]})
  
df1 = pd.DataFrame({'Duration':['30day','40days','35days','60days'],
                      'Discount':[1000,2300,2500,2000,]}) 

#  Using pandas.concat() to join concat two DataFrames
df2 = pd.concat([df, df1], axis=1, join='inner')
print(df2)

   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Python  22000   35days      2500
3   pandas  24000   60days      2000

In [95]:
# Use DataFrame.append() to Concat Two DataFrames.
import pandas as pd
df = pd.DataFrame({'Courses': ["Spark","PySpark","Python","pandas"],
                    'Fee' : [20000,25000,22000,24000]})

df1 = pd.DataFrame({'Courses': ["Pandas","Hadoop","Hyperion","Java"],
                    'Fee': [25000,25200,24500,24900]})

# Using DataFrame.append() to concat Two DataFrames
# Use DataFrame.append() 
df2 = df.append(df1, ignore_index=True)
print(df2)

    Courses    Fee
0     Spark  20000
1   PySpark  25000
2    Python  22000
3    pandas  24000
4    Pandas  25000
5    Hadoop  25200
6  Hyperion  24500
7      Java  24900

<ipython-input-95-50cd63aa20fb>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df.append(df1, ignore_index=True)