<a href="https://colab.research.google.com/github/shubhs777c/python-practice/blob/main/python_coding_problems_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FOR LOOP and while loop**

In [ ]:
# Printing numbers from 1 to 10 using a for loop.
numbers=[]
for i in range(1, 10):
    numbers.append(i)
print(numbers)  


# Printing numbers from 1 to 5 using a while loop:
i=1
while i<=5:
     print(i)
     i+=1

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1
2
3
4
5

In [ ]:
# Printing the even numbers from 1 to 50 using a for loop:
even=[]
for i in range(2, 50, 2):
    even.append(i)
print(even)


# Printing the even numbers from 1 to 10 using a while loop:
even_list=[]
i = 2
while i <= 10:
     even_list.append(i)
     i += 2
print(even_list)

# using lambda function
even_lambda = lambda x: x if x%2 == 0 else None

even_list = []
for i in range(1, 30):
    even_number= even_lambda(i)
    if even_number:
        even_list.append(even_number)

print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
# Printing the sum of the first n natural numbers using a for loop:
natural_number=20
sum=0
for i in range(1,natural_number+1):
    sum+=i
print("sum of first",natural_number,"natural numbers",sum)


# Printing the sum of the first n natural numbers using a while loop:
number=10
sum=0
i=1
while i<=number:
    sum+=i
    i+=1
print("Sum of first", number, "natural numbers is", sum)

sum of first 20 natural numbers 210
Sum of first 10 natural numbers is 55

In [ ]:
# Printing the multiplication table of a number using a for loop:
number=7
for i in range (1,7):
    print(number,"x",i,"=",number*i)

print("**************************************************************************")

# Printing the multiplication table of a number using a while loop:
num = 5
i = 1
while i <= 7:
    print(num, "x", i, "=", num*i)
    i += 1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
**************************************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35

In [ ]:
# Printing the Fibonacci series up to n terms using a for loop:
number= 10
a, b = 0, 1
for i in range(number):
   print(a)
   a, b = b, a+b

print("***********************************************")

 # Printing the Fibonacci series up to n terms using a while loop:
number = 5
a, b = 0, 1
i = 0
while i < number:
    print(a)
    a, b = b, a+b
    i += 1

0
1
1
2
3
5
8
13
21
34
***********************************************
0
1
1
2
3

In [ ]:
# Printing the factorial of a number using a for loop:
number=5
fact=1
for i in range(1,number+1):
    fact*=i
print("factorial of",number,"is",fact)


# Printing the factorial of a number using a while loop.
number=5
fact=1
i==1
while i<=number:
    fact*=i
    i+=1
print("factorial of",number ,"is",fact)

factorial of 5 is 120
factorial of 5 is 5

In [ ]:
# Checking whether a number is prime or not using a for loop:
number=8
for i in range (2,int(number/2)+1):
    if number%i==0:
      print(number,"is not a prime number")
      break
else:
  print(number,"is a prime number")

# Checking whether a number is prime or not using a while loop:
num = 7
i = 2
while i <= int(num/2):
    if num%i == 0:
        print(num, "is not a prime number")
        break
    i += 1
else:
    print(num, "is a prime number")

8 is not a prime number
7 is a prime number

In [ ]:
# Finding the largest and smallest numbers in a list using a for loop:
numbers=[5,8,11,22,52,62]
largest=smallest=numbers[3]
for num in numbers:
    if num >largest:
       largest=num
    elif num < smallest:
       smallest=num
print("largest number is",largest,"smallest number",smallest)


# Finding the largest and smallest numbers in a list using a while loop:
numbers = [5, 8, 2, 6, 1, 9]
i = 0
largest = smallest = numbers[0]
while i < len(numbers):
    if numbers[i] > largest:
        largest = numbers[i]
    elif numbers[i] < smallest:
        smallest = numbers[i]
    i += 1
print("Largest number is", largest, "and smallest number is", smallest)

largest number is 62 smallest number 5
Largest number is 9 and smallest number is 1

In [ ]:
# Sorting a list of numbers using a for loop and bubble sort algorithm:
numbers = [5, 8, 2, 6, 1, 9]
for i in range(len(numbers)):
    for j in range(len(numbers)-i-1):
        if numbers[j] > numbers[j+1]:
            numbers[j], numbers[j+1] = numbers[j+1], numbers[j]
print("Sorted list:", numbers)


# Sorting a list of numbers using a while loop and bubble sort algorithm:
numbers = [5, 8, 2, 6, 1, 9]
n = len(numbers)
while n > 1:
    i = 0
    while i < n-1:
        if numbers[i] > numbers[i+1]:
            numbers[i], numbers[i+1] = numbers[i+1], numbers[i]
        i += 1
    n -= 1
print("Sorted list:", numbers)

Sorted list: [1, 2, 5, 6, 8, 9]
Sorted list: [1, 2, 5, 6, 8, 9]

In [ ]:
# Counting the number of vowels in a string using a for loop:
string="shubham"
vowels="aeiouAEIOU"
count=0
for char in string:
  if char in vowels:
    count+=1
print("number of vowels in the string is",count)


# Counting the number of vowels in a string using a while loop:
string = "Hello, World!"
vowels = "aeiouAEIOU"
count = 0
i = 0
while i < len(string):
    if string[i] in vowels:
        count += 1
    i += 1
print("Number of vowels in the string is", count)

number of vowels in the string is 2
Number of vowels in the string is 3

# **MAP FUNCTION**

In [ ]:
# Squaring each element in a list using map() function:
numbers=[1,2,3,4,5]
square_number=list(map(lambda x :x**2,numbers))
print(square_number)

[1, 4, 9, 16, 25]

In [ ]:
# Converting a list of strings to integers using map() function:
string=["1","2","3","4"]
numbers=tuple(map(int,string))
numbers

(1, 2, 3, 4)

In [ ]:
# Doubling each element in a list using map() function:
numbers=[1,2,3,4]
doubled_numbers=set(map(lambda x:x*2,numbers))
doubled_numbers

{2, 4, 6, 8}

In [ ]:
# Reversing a list of strings using map() function:
string=["hello"]
reverse_string=list(map(lambda x :x[::-1],string))
reverse_string

['olleh']

In [ ]:
# Removing whitespace from a list of strings using map() function:
strings = ["   Hello  ", "   World  ", "   Python  "]
stripped_strings= list(map(str.strip, strings))
print(stripped_strings)

['Hello', 'World', 'Python']

In [ ]:
# Capitalizing the first letter of each word in a list of strings using map() function:
strings = ["hello world", "python programming", "data science"]
capitalized_strings=list(map(lambda x:x.title(),strings))
print(capitalized_strings)

['Hello World', 'Python Programming', 'Data Science']

In [ ]:
# Multiplying elements of two lists using map() function:
list1 = [1, 2, 3, 4, 5]
list2 = [10, 20, 30, 40, 50]
product=list(map(lambda x,y:x*y,list1,list2))
product

[10, 40, 90, 160, 250]

In [ ]:
# Finding the length of each word in a list of strings using map() function:
strings = ["hello world", "python programming", "data science"]
lengths=list(map(lambda x:len(x),strings))
lengths

[11, 18, 12]

In [ ]:
# Converting a list of numbers to their binary representation using map() function:
numbers=[1,2,3,4,5]
binary_numbers=list(map(lambda x : bin(x)[2:],numbers))
print(binary_numbers)

['1', '10', '11', '100', '101']

# **FILTER FUNCTION**

In [ ]:
# Filtering out even numbers from a list:
my_list=[1,2,3,4,5,6,7,8]
even_numbers=list(filter(lambda x :x%2==0,my_list))
even_numbers

[2, 4, 6, 8]

In [ ]:
# Filtering out odd numbers from a list:
my_list=[1,2,3,4,5,6,7,8]
even_numbers=list(filter(lambda x :x%2!=0,my_list))
even_numbers

[1, 3, 5, 7]

In [ ]:
# Filtering out negative numbers from a list:
numbers=[1,2,-4,-5,-8,8,9,-7]
positive_numbers=list(filter(lambda x :x >=0,numbers))
print(positive_numbers)

[1, 2, 8, 9]

In [ ]:
# Filtering out even-length strings from a list:
my_list = ["apple", "banana", "pear", "kiwi", "orange"]
even_length_words=list(filter(lambda x : len(x)%2==0 ,my_list))
even_length_words

['banana', 'pear', 'kiwi', 'orange']

In [ ]:
# Filtering out numbers less than or equal to a given value from a list:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
less_than_seven=list(filter(lambda x : x <=6,my_list))
less_than_seven

[1, 2, 3, 4, 5, 6]

In [ ]:
# Filtering out duplicates from a list:
my_list = [1, 2, 3, 2, 4, 5, 1, 6, 7, 7, 8, 9]
unique_numbers = list(filter(lambda x: my_list.count(x) == 1, my_list))
print(unique_numbers)

[3, 4, 5, 6, 8, 9]

In [ ]:
# Filtering out empty strings from a list:
my_list = ["apple", "", "banana", "", "pear", "kiwi", "orange", ""]
non_empty_strings = list(filter(lambda x: x != "", my_list))
print(non_empty_strings)

['apple', 'banana', 'pear', 'kiwi', 'orange']

In [ ]:
# Filtering out numbers divisible by a certain value from a list:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
not_divisible_by_three = list(filter(lambda x: x % 3 != 0, my_list))
print(not_divisible_by_three)

[1, 2, 4, 5, 7, 8, 10]

In [ ]:
# Filtering out strings that contain a certain substring from a list:
my_list = ["apple", "banana", "pear", "kiwi", "orange"]
not_containing_ow = list(filter(lambda x: "ow" not in x, my_list))
print(not_containing_ow)

['apple', 'banana', 'pear', 'kiwi', 'orange']

In [ ]:
# Filtering out strings that start with a certain character from a list:
my_list = ["apple", "banana", "pear", "kiwi", "orange"]
not_starting_with_p = list(filter(lambda x: not x.startswith("p"), my_list))
print(not_starting_with_p)

['apple', 'banana', 'kiwi', 'orange']

In [ ]:
# Filtering out strings that end with a certain character from a list:
my_list = ["apple", "banana", "pear", "kiwi", "orange"]
not_ending_with_e = list(filter(lambda x: not x.endswith("e"), my_list))
print(not_ending_with_e)

['banana', 'pear', 'kiwi']

In [ ]:
# Filter a list of strings to only include strings longer than 5 characters:
strings = ['hello', 'world', 'python', 'is', 'awesome']
long_strings=list(filter(lambda x:len(x)>5,strings))
long_strings

['python', 'awesome']

In [ ]:
# Filter a list of dictionaries to only include dictionaries where a certain key exists:
people = [{'name': 'John', 'age': 25},
          {'name': 'Sarah'},
          {'name': 'Mike', 'age': 30}]
valid_people=list(filter(lambda x :'age' in x ,people))
valid_people

[{'name': 'John', 'age': 25}, {'name': 'Mike', 'age': 30}]

In [ ]:
# Filter a list of tuples to only include tuples where the first element is greater than 5.
tuples = [(1, 2), (6, 4), (2, 7), (8, 5)]
filter_tuple=tuple(filter(lambda x :x[0]>5,tuples))
filter_tuple

((6, 4), (8, 5))

In [ ]:
# Filter a list of dictionaries to only include dictionaries where a certain key has a certain value:
people = [{'name': 'John', 'age': 25},
          {'name': 'Sarah', 'age': 30},
          {'name': 'Mike', 'age': 30}]
thirty_year_old=list(filter(lambda x:x['age']==30,people))
thirty_year_old

[{'name': 'Sarah', 'age': 30}, {'name': 'Mike', 'age': 30}]

In [ ]:
# Filter a list of numbers to only include numbers greater than 10:
numbers = [5, 10, 15, 20, 25]
updated_number=list(filter(lambda x:x>10,numbers))
updated_number

[15, 20, 25]

In [ ]:
# Filter a list of strings to only include strings that contain the letter 'e':
strings = ['hello', 'world', 'python', 'is', 'awesome']
e_strings=list(filter(lambda x: 'e' in x,strings))
e_strings

['hello', 'awesome']

In [ ]:
# Filter a list of dictionaries to only include dictionaries where a certain key is not null:
people = [{'name': 'John', 'age': 25},
          {'name': 'Sarah'},
          {'name': 'Mike', 'age': 30}]
valid_people=list(filter(lambda x : x.get('age') is not None,people))
valid_people

[{'name': 'John', 'age': 25}, {'name': 'Mike', 'age': 30}]

# **REDUCE FUNCTION**

In [ ]:
from functools import reduce

In [ ]:
# Find the sum of all numbers in a list:
numbers=[2,5,6,8,9]
total=reduce(lambda x ,y:x+y,numbers)
total

30

In [ ]:
# Find the product of all numbers in a list:
numbers=[2,5,7,8,2]
product=reduce(lambda x,y:x*y,numbers)
product

1120

In [ ]:
# Find the maximum value in a list of numbers:
numbers=[1,3,5,6,7]
max_value=reduce(lambda x,y:x if x > y else y,numbers)
max_value

7

In [ ]:
# Find the minimum value in a list of numbers:
numbers=[2,5,7,8,3]
min_value=reduce(lambda x ,y:x if x<y else y,numbers)
min_value

2

In [ ]:
# Concatenate a list of strings into a single string:
strings = ['hello', 'world', 'python']
result=reduce(lambda x,y:x+ " " +y,strings)
result

'hello world python'

In [ ]:
# Find the average of a list of numbers:
numbers=[5,2,4,9,6]
avg_list=reduce(lambda x,y:x+y,numbers)/len(numbers)
avg_list

5.2

In [ ]:
# Remove duplicates from a list of strings:
strings = ['hello', 'world', 'python', 'world', 'python']
unique_strings=reduce(lambda x, y: x + [y] if y not in x else x, strings, [])
unique_strings

['hello', 'world', 'python']

In [ ]:
# Find the factorial of a number:
number=int(input("Enter the number: "))
factorial=reduce(lambda x,y:x*y,range(1,number+1))
factorial

Enter the number: 5

120

In [ ]:
# Reverse a list of numbers:
numbers = [1, 2, 3, 4, 5]
reverse_list=reduce(lambda x,y:[y]+x,numbers,[])
print(reverse_list)

[5, 4, 3, 2, 1]

# **PROBLEMS ON TRY EXCEPT**

In [ ]:
# Handle a ZeroDivisionError exception:
try:
  division=10/0
except:
    print("Cannot divide by zero")

Cannot divide by zero

In [ ]:
# Handle a TypeError exception:
try:
  x="hello"+5
except:
  print("cannot concatenate string and int")

cannot concatenate string and int

In [ ]:
# Handle multiple exceptions:
try:
  x=10/0
except(ZeroDivisionError,TypeError):
  print("an error occured")

an error occured

In [ ]:
# Handle an exception and continue execution:
numbers=[1,2,3,"hello",5]
for i in numbers:
  try:
      x=int(i)
  except ValueError:
      continue
  print(x)

1
2
3
5

In [ ]:
# Handle an exception and execute a finally block:
try:
  x=10/0
except:
  print("can not divide zero")
finally:
  print("This will always execute")

can not divide zero
This will always execute

In [ ]:
# Handle an exception and access the exception object:
try:
  x=int("hello")
except ValueError as e:
  print(e)

invalid literal for int() with base 10: 'hello'

In [ ]:
# Handle an exception and display a custom error message:
try:
  x=int("hello")
except ValueError:
  print("Invalid input:must be an integer")

Invalid input:must be an integer

In [ ]:
# Handle a name error:
try:
  print(b)
except NameError:
  print("variable not defined")

8

In [ ]:
# Handle a key error:
my_dict={"key1": "value1", "key2": "value2"}
try:
  print(my_dict["key4"])
except:
  print("key not found")

key not found

In [ ]:
# Example 1: Dividing two numbers and handling errors.
try:
    number1 = float(input("Enter the first number: "))
    number2 = float(input("Enter the second number: "))
    result = number1 / number2
except ValueError:
    print("Invalid input. Please enter a valid number.")
except :
    print("Cannot divide by zero.")
else:
    print(f"{num1} / {num2} = {result:.2f}")
finally:
    print("Program executed.")

Enter the first number: 25
Enter the second number: bho
Invalid input. Please enter a valid number.
Program executed.

In [ ]:
# Reading and writing files, and handling errors.
try:
    with open("input.txt", "r") as f:
        data = f.read()
    with open("output.txt", "w") as f:
        f.write(data)
except FileNotFoundError:
    print("File not found.")
except IOError:
    print("IO error occurred.")
else:
    print("File copied successfully.")
finally:
    print("Program executed.")

File not found.
Program executed.

In [ ]:
# Handling multiple exceptions.
try:
    num1 = int(input("Enter the first number: "))
    num2 = int(input("Enter the second number: "))
    result = num1 / num2
except (ValueError, TypeError):
    print("Invalid input. Please enter a valid number.")
except ZeroDivisionError:
    print("Cannot divide by zero.")
else:
    print(f"{num1} / {num2} = {result:.2f}")
finally:
    print("Program executed.")

Enter the first number: 12
Enter the second number: 2
12 / 2 = 6.00
Program executed.

In [ ]:
# Using try-except blocks to handle recursion errors.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
try:
    result = factorial(5)
except RecursionError:
    print("Recursion error occurred.")
else:
    print(f"The result is {result}")
finally:
    print("Program executed.")

The result is 120
Program executed.

# **DEF FUNCTION**

In [ ]:
# A function that computes the nth Fibonacci number using recursion.
def fibonacci(number):
   if number==0:
      return 0
   elif number==1:
      return 1
   else:
      return fibonacci(number-1)+fibonacci(number-2)
result=fibonacci(13)
print(result)

233

In [ ]:
# A function that checks whether a number is prime or not.
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5)+1):
        if number % i == 0:
            return ("number is not prime number")
    return ("number is prime number")
number=int(input("enter a number:"))
result = is_prime(number)
print(result)

enter a number:19
number is prime number

In [ ]:
# A function that finds the largest palindrome in a given string.
def largest_palindrome(word):
    palindromes = []
    for i in range(len(word)):
        for j in range(i+1, len(word)+1):
            substr = word[i:j]
            if substr == substr[::-1]:
                palindromes.append(substr)
    return max(palindromes, key=len)
word=str(input("enter a string:"))
result = largest_palindrome(word)
print(result)

enter a string:mom
mom

In [ ]:
# A function that computes the greatest common divisor of two numbers using recursion.
def gcd(a,b):
  if b==0:
    return a
  else:
    return gcd(b,a%b)
result=gcd(48,36)
print(result)

12

In [ ]:
# A function that sorts a list of integers using the quicksort algorithm.
def quicksort(nums):
    if len(nums) <= 1:
        return nums
    pivot = nums[0]
    less = [x for x in nums[1:] if x < pivot]
    greater = [x for x in nums[1:] if x >= pivot]
    return quicksort(less) + [pivot] + quicksort(greater)

result = quicksort([4, 2, 8, 1, 6, 5, 3, 7])
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# A function that computes the power of a number using recursion.
def power(base,exponent):
    if exponent==0:
      return 1
    else:
      return base * power(base, exponent-1)
result=power(2,3)
print(result)

8

In [ ]:
# A function that reverses a string using recursion.
def reverse(string):
    if len(string)==0:
     return string        
    else:
     return reverse (string[1:]) + string[0]
result=reverse("hello")
result

'olleh'

In [ ]:
# A function that computes the sum of digits of a number using recursion.
def sum_of_digit(number):
    if number < 10:
       return number
    else:
       return number%10 + sum_of_digit(number//10)
input_number=int(input("enter a numbers:"))
result=sum_of_digit(input_number)
print(result)

enter a numbers:236
11

In [ ]:
# A function that computes the factorial of a number using recursion.
def factorial(number):
   if number == 0:
        return 1
   else:
      return number * factorial(number-1)
number=int(input("enter a number:"))
result = factorial(number)
print(result)

enter a number:6
720

# **LIST COMPREHENSIONS**

In [ ]:
# Program to find the squares of numbers from 1 to 10 using list comprehension:
squares=[x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Program to find the even numbers from 1 to 20 using list comprehension:
even_numbers=[num for num in range (1,21) if num%2==0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Program to convert a list of strings to uppercase and capitalize using list comprehension:
strings=['hello','world']
uppercase=[s.capitalize() for s in strings]
print(uppercase)

strings=['hello','world']
uppercase=[s.upper() for s in strings]
print(uppercase)

['Hello', 'World']
['HELLO', 'WORLD']

In [ ]:
# Program to create a list of tuples from two separate lists using list comprehension:
list1=[1,2,3]
list2=['a','b','c']
pairs=[(x,y) for x in list1 for y in list2]
print(pairs)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [ ]:
# Program to create a list of numbers divisible by both 2 and 3 using list comprehension:
numbers=[6,12,15,18,20]
divisible=[num for num in numbers if num%2==0 and num%3==0]
print(divisible)

[6, 12, 18]

In [ ]:
# Program to create a list of vowels from a given string using list comprehension:
string="hello world "
vowels=[char for char in string if char in 'aeiouAEIOU']
print(vowels)

# string = "Hello World"
# vowels = [char for char in string if char in 'aeiouAEIOU']
# print(vowels)

['e', 'o', 'o']

In [ ]:
# Program to find the length of strings in a given list using list comprehension:
strings=['hello','world','shubham','hero']
string_length=[len(word) for word in strings]
string_length

[5, 5, 7, 4]

In [ ]:
# Program to create a list of unique elements from a given list using list comprehension:
numbers=[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]
unique_numbers=tuple(set([number for number in numbers]))
unique_numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# Program to create a list of tuples from two separate lists where the elements in the tuple are equal using list comprehension:
list1=[1,2,3]
list2=[1,2,9]
equal_pairs=[(x,y) for x in list1 for y in list2 if x==y]
equal_pairs

[(1, 1), (2, 2)]

In [ ]:
# Program to create a list of all prime numbers less than a given number using list comprehension:
n = 20
primes = [x for x in range(2,n) if all(x % i != 0 for i in range(2, int(x**0.5)+1))]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
# Program to create a list of all possible permutations of a given string using list comprehension:
import itertools
string='abc'
perms = [''.join(p) for p in itertools.permutations(string)]
perms

['abc', 'acb', 'bac', 'bca', 'cab', 'cba']

# **OOPS PROGRAMMING**

In [ ]:
class BankAccount:
    def __init__(self, account_number, balance):
        self.__account_number = account_number
        self.__balance = balance
    
    def get_account_number(self):
        return self.__account_number
    
    def get_balance(self):
        return self.__balance
    
    def deposit(self, amount):
        self.__balance += amount
    
    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
        else:
            print("Insufficient balance.")
    
# Example usage
account = BankAccount("123456", 1000)
print("Account number:", account.get_account_number())
print("Current balance:", account.get_balance())
account.deposit(500)
print("New balance after deposit:", account.get_balance())
account.withdraw(200)
print("New balance after withdrawal:", account.get_balance())

Account number: 123456
Current balance: 1000
New balance after deposit: 1500
New balance after withdrawal: 1300