<a href="https://colab.research.google.com/github/shubhs777c/python-practice/blob/main/tuple_set_dict_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# empty
t1 = ()
print(t1)

# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))

# homo
t3 = (1,2,3,4)
print(t3)

# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)

# tuple
t5 = (1,2,3,(4,5))
print(t5)

# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

In [2]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [3]:
t5[-1][0]

4

In [4]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [6]:
# + and *

t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)

# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

In [7]:
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [10]:
t = (1,2,3,4,4,4,4,5)

t.count(4)

4

In [12]:
import time 

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)


start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 8.763068675994873
Tuple time 8.458336114883423

In [13]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [14]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [15]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

In [16]:
# tuple unpacking.

a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [17]:
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [18]:
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [19]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [25]:
# zipping tuples

a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [26]:
keys=('age','weight','height')
values=(27,75,175)
tuple(zip(keys,values))

(('age', 27), ('weight', 75), ('height', 175))

In [31]:
# empty
s = set()
print(s)
print(type(s))

# 1D and 2D
s1 = {1,2,3}
print(s1)


# homo and hetro
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
# using type conversion

s4 = set([1,2,3])
print(s4)

# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)

set()
<class 'set'>
{1, 2, 3}
{1, (1, 2, 3), 4.5, 'hello'}
{1, 2, 3}
{1, 2, 3}

In [40]:
s1 = {1,2,3}
s2 = {3,2,1}

L1=[1,2,3]
l2=[3,2,1]
print(L1==l2)
print(s1 == s2)

False
True

In [43]:
S = {1,2,3,4}
# add
S.add(5)
# # print(S)
# # update
S.update([5,6,7])
print(S)

{1, 2, 3, 4, 5, 6, 7}

In [50]:
# del
s = {1,2,3,4,5}
# print(s)

print(s)

{1, 2, 3, 4, 5}

In [52]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
s1 | s2
# Union(|)
# Intersection(&)
s1 & s2
# Difference(-)
s1 - s2
s2 - s1
# Symmetric Difference(^)
s1 ^ s2
# Membership Test
1 not in s1
# Iteration
for i in s2:
  print(i)

4
5
6
7
8

In [59]:
# len/sum/min/max/sorted.

s = {3,1,4,5,2,7}
# len(s)
# sum(s)
# min(s)
# max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [67]:
# union/update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
# s1.union(s2)

s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [68]:
# intersection/intersection_update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [70]:
# difference/difference_update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [71]:
# symmetric_difference/symmetric_difference_update

s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [74]:
# isdisjoint/issubset/issuperset.

s1 = {1,2,3,4}
s2 = {7,8,5,6}

s1.isdisjoint(s2)

True

In [77]:
s1 = {1,2,3,4,5}
s2 = {3,4,5}

s1.issuperset(s2)

True

In [79]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

In [83]:
# create frozenset.

fs1 = frozenset([1,2,3])
fs2 = frozenset([6,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5, 6})

In [85]:
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

In [86]:
# examples.

{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

In [87]:










# mutable items as keys
d6 = {'name':'nitish',(1,2,3):2}
print(d6)

{'name': 'nitish', (1, 2, 3): 2}

In [96]:
# duplicate keys
d5 = {'name':'nitish','name':'rahul','name':'ak'}
d5

{'name': 'ak'}

In [92]:
# using sequence and dict function
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4

{'name': 'nitish', 'age': 32, 3: 3}

In [91]:
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [90]:
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [89]:
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1

{'name': 'nitish', 'gender': 'male'}

In [88]:
# empty dictionary
d = {}
d

{}

In [101]:
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['age']

# get
my_dict.get('name')

'Jack'

In [103]:
s['subjects']['ds'] = 75
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 75}}

In [112]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

d.pop(3)
print(d)

# popitem
d.popitem()
d.popitem()
print(d)

# del
#del d['name']
#print(d)
# clear
d.clear()
print(d)

{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}
{'name': 'nitish', 'age': 32}
{}

In [114]:
s['subjects']['dsa'] = 80
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

In [115]:
print(s)

'name' in s

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 80, 'english': 34, 'ds': 75}}

True

In [119]:
d = {'name':'ram','gender':'male','age':33}

for i in d:
  print(i,d[i])

name ram
gender male
age 33

In [120]:
# len/sorted

len(d)
print(d)
sorted(d,reverse=True)
max(d)

{'name': 'ram', 'gender': 'male', 'age': 33}

'name'

In [122]:
# items/keys/values

print(d)

print(d.items())
print(d.keys())
print(d.values())

{'name': 'ram', 'gender': 'male', 'age': 33}
dict_items([('name', 'ram'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['ram', 'male', 33])

In [123]:
# update

d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

In [124]:
# print 1st 10 numbers and their squares.

{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [125]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [127]:
# using existing dict.

distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [129]:
# using zip.

days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [130]:
# using if condition

products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [132]:
# Nested Comprehension.
# print tables of number from 2 to 4.

{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}